:root {
  --head-font-color: white;
  --reg-font: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  --head-font: "Georgia", Times, Times New Roman, serif;
  --accent-color-1: rgb(180, 180, 180);
  --accent-color-2: rgb(230, 255, 255);
  --bg-color-1: rgb(240, 250, 255);
  --bg-color-2: rgb(230, 230, 240);
  --bg-color-3: grey;
}

body {
  /* background-color: var(--bg-color-2); */
  background-image: url("../tileable_wood_texture_@2X.png");
  font-family: var(--reg-font);
}

a {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1.25em;
  color: var(--head-font-color);
}

a:hover {
  background-color: var(--accent-color-2);
  border-radius: 2px;
  text-decoration: none;
  color: var(--bg-color-3);
}

a:active {
  background-color: var(--accent-color-2);
  color: var(--bg-color-3);
}

p {
  background-color: var(--bg-color-1);
  padding: 30px 50px 8px 50px;
  color: var(--bg-color-3);
  border-radius: 5px;
  margin-bottom: 100px;
}

.form {
  background-color: var(--bg-color-1);
  padding: 30px 50px 8px 50px;
  color: var(--bg-color-3);
  border-radius: 5px;
}

#footer {
  background-color: var(--accent-color-2);
  color: white;
  height: 100px;
  padding: 0px;
  margin-bottom: -25px;
}

.button {
  margin-top: 50px;
  padding: 0px 20px 8px 20px;
}

.name {
  color: var(--head-font-color);
  text-align: center;
  padding: 30px 0px 5px 0px;
  font-family: var(--head-font);
}

#navbar {
  border-bottom: 5px solid var(--accent-color-2);
  background-color: var(--bg-color-3);
}

img {
  float: left;
  padding: 10px;
}

article {
  padding-top: 50px;
}

input {
  padding: 5px;
  margin: 20px;
  width: 100%;
}
